.sideBar {
    min-width: 200px;
    max-width: 200px;
    height: 400px;
    border-right: 1px solid var(--shade2Gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
  }
  
  .sideBar>div {
    width: 100%;
  }
  
  .sideBarUpper {
    width: 100%;
    padding: 1em 1em;
    border-bottom: 1px solid var(--shade2Gray);
  }
  
  .sideBar li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0.5em 0.7em;
    border-radius: 8px;
    margin: 0.2em 0em;
    cursor: pointer;
  }
  
  .sideBar li:hover {
    background-color: var(--shade3Blue);
  }
  
  .sideBarUpper span {
    width: 100%;
    font-weight: 500;
    margin-left: 1em;
    color: var(--baseBlack);
    font-size: 1em;
  }
  
  .sideBarUpper a {
    text-decoration: none;
  }
  
  .sideBarUpper img {
    width: 23px;
    height: 25px;
  }
  
  .active-navbar .active-navbar-list {
    background-color: var(--shade3Blue);
    font-weight: 700;
  }
  
  .active-navbar .active-navbar-list span {
    color: var(--shade2Blue);
    font-weight: 600;
  }
  
  .sideBarLower {
    width: 100%;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
  }
  
  .sideBarLower button {
    width: 80%;
  }