.groupTabs {
    border-bottom: 1px solid var(--shade2Blue);
    padding-left: 0;
  }
  
  .groupTabs li:nth-child(2) {
    border-top-right-radius: 4px;
  }
  
  .react-tabs__tab--selected {
    border-radius: 0;
    background-color: var(--shade4Blue);
    font-weight: 700 !important;
  }
  
  .react-tabs__tab {
    margin: 0;
    padding: 0.5em 0.9em;
    font-weight: 500;
    border-color: var(--shade4Blue);
    color: var(--baseBlack);
  }
  
  .react-tabs__tab:focus:after {
    content: none;
  }
  
  .buttonDiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
  
  .buttonDiv .yellowButton {
    margin-right: 1em;
  }